<meta charset="utf-8" />
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

<title>unCOVer</title>
<link rel="icon" href="/pages/LOGO.ico" />

<meta name="description" content="unCOVer and analyze COVID-19 data compared to air quality, population density, and more."/>
<meta name="keywords" content="COVID-19, NASA, hackathon, data, compare, unCOVer"/>
<meta name="author" content="Searching for a Source" />

<meta property="og:title" content="unCOVer" />
<meta property="og:description" content="unCOVer and analyze COVID-19 data compared to air quality, population density, and more." />
<meta property="og:image" content="https://uncover.ethanhorowitz.repl.co/pages/LOGO.svg" />
<meta property="og:url" content="https://uncover.ethanhorowitz.repl.co/" />
<meta property="og:site_name" content="unCOVer" />

<link rel="mask-icon" href="https://uncover.ethanhorowitz.repl.co/pages/LOGO.svg" color="dodgerblue" />

<link rel="apple-touch-icon" href="/pages/LOGO.png" />

<style>
	@font-face {
		font-family: coolfont;
		src: url(/coolfont.woff2);
	}
	body, html {
		font-family: coolfont !important;
	}
</style>